.accordion {
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 20px 35px;
  background-color: var(--light-color);
  outline: none;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--black-color);
  opacity: 0.8;

  &:not(:last-child) {
    border-bottom: 1px solid #c4c4c4;
  }

  &:hover {
    background-color: #c4c4c4;
  }
}

.accordion:after {
  content: "\002b";
  color: #ededed;
  font-weight: 900;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: '\2212';
  color: #19538a;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  text-align: justify;

  ul {
    padding-top: 20px;

    li {
      p {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--black-color);
        opacity: 0.8;
        text-align: left;
        position: relative;
        padding-left: 25px;

        &:before {
          content: "—";
          position: absolute;
          top: 0;
          left: 0;

        }
      }
    }
  }
}
