.header {
  background-color: var(--light-color);
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #cde8fb;

  &__menu {
    @include flex-all-sb;

  }

  &__navbar {
    @include flex-v-center;

  }

}
