.info {
  padding-top: 100px;

  &__row {
    &-title {
      margin: 55px 0 0 0;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      color: var(--black-color);
      max-width: 380px;
    }

    &-desc {
      margin: 45px 0 0 0;
      max-width: 525px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: var(--black-color);
      opacity: 0.8
    }

    .hero__btn {
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 768px) {
    &__row {
      text-align: center;

      &-title {
        max-width: 380px;
        margin: 50px auto;
      }

      &-desc {
        margin: 40px auto;
        max-width: 525px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: var(--black-color);
        opacity: 0.8
      }

      .hero__btn {
        display: none;
      }
    }
  }

  .mobile__btn {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .mobile__btn {
      display: inline-block;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    padding-top: 80px;
  }
}
