.header__navbar {

  .header__nav {

    &_link {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: var(--black-color);

      &:hover {
        color: var(--btn-color);
      }
    }

    &:not(:last-child) {
      margin-right: 35px;
    }
  }


}
