.partner {
  padding: 60px 0 90px 0;

  &__title {
    padding-bottom: 100px;

    h4 {
      margin: 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: var(--black-color);
    }
  }

  &__img {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      img {
        filter: grayscale(1);
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }


  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
  }
}
