.partner {
  padding: 60px 0 90px 0;

  &__title {
    padding-bottom: 100px;

    h4 {
      margin: 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: var(--black-color);
    }
  }

  @media screen and (max-width: 768px) {
    &__title {
      padding-bottom: 50px;

      h4 {
        text-align: center;
      }
    }
  }

  &__img {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      img {
        filter: grayscale(1);
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }


  }

  @media screen and (max-width: 768px) {
    &__img {
      display: none;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
  }

  @media screen and (max-width: 768px) {
    &__btn {
      padding-top: 80px;
    }
  }

  .mySwiper11 {
    display: none;
    height: 100%;

    .swiper-slide {
      text-align: center;
    }

    .slider__pagination {
      text-align: center;
      margin-top: 30px;

      &.swiper-pagination-bullet {
        width: 13px;
        height: 10px;
        display: inline-block;
        background-color: #19538A;
        opacity: .2;
        margin: 0 5px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
      }

      .swiper-pagination-bullet-active {
        background-color: #19538A;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .mySwiper11 {
      display: block;
    }
  }
}
