<div class="about">
  <div class="container">
    <div class="about__row row">
      <div class="col-lg-6">
        <h4>О компании</h4>
        <p>
          APKO Digitality – команда единомышленников с клиенто-ориентированным подходом, созданная опытными
          специалистами
          в сфере построения IT инфраструктуры, информационной безопасности и глобальной цифровизации деятельности
          предприятий любой отрасли, размеров и уровня развития.
        </p>
        <p>
          Компания организована в 2019г. с целью воплотить новые идеи и использовать накопленный опыт в сфере построения
          информационных систем различного уровня сложности.
        </p>
      </div>
      <div class="col-lg-6">
        <img src="img/logoBig.png" alt="">
      </div>
    </div>
    <div class="about__mission">
      <h4>
        Наша Миссия
      </h4>
      <p>
        APKO Digitality призвана сделать современные технологии еще более доступными, ускорить процесс перехода на
        передовые инструменты цифрового управления бизнесом, обеспечить высокий уровень качества сервиса и повысить
        эффективность каждого Заказчика, руководствуясь локальными и мировыми отраслевыми стандартами.
      </p>
    </div>
  </div>
  <div class="about__expertise">
    <h5>Экспертиза</h5>
    <p>
      Мир технологий может быть стремительным и пугающим. Вот почему наша цель — предоставить опыт и экспертизу,
      адаптированные к потребностям вашей компании. Независимо от бюджета, мы гордимся тем, что обеспечиваем
      профессиональное обслуживание клиентов. Мы гарантируем, что вы останетесь довольны нашей работой.
    </p>
  </div>
  <div class="container">
    <div class="about__mission">
      <h4>
        Партнерские статусы
      </h4>
      <p>
        Политика компании заключается в работе только с официальными каналами поставок товаров и услуг. Партнерская сеть
        состоит из компаний мирового масштаба, представляющих передовые технологические решения. Наши Заказчики могут
        быть уверены в получении качественных услуг, основанных на долгосрочных партнерских отношениях с мировыми
        технологическими лидерами.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="about__mission">
      <h4>
        Наши партнеры
      </h4>
      <div class="about__logo">
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
        <div class="about__logo-item">
          <a href="partner-in.html">
            <img src="img/client1.png" alt="">
          </a>
        </div>
      </div>
      <!--      slider mobile -->
      <div class="swiper mySwiper12">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="partner-in.html">
              <img src="img/client1.png" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="partner-in.html">
              <img src="img/client1.png" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="partner-in.html">
              <img src="img/client1.png" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="partner-in.html">
              <img src="img/client1.png" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="partner-in.html">
              <img src="img/client1.png" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="partner-in.html">
              <img src="img/client1.png" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="partner-in.html">
              <img src="img/client1.png" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="partner-in.html">
              <img src="img/client1.png" alt="">
            </a>
          </div>
        </div>
        <div class="slider__pagination"></div>
      </div>
    </div>
  </div>
</div>
