<div class="advantage">
  <div class="container">
    <div class="advantage__title">
      <h3 class="advantage__title-title">
        Наши преимущество
      </h3>
    </div>
    <div class="advantage__row">
      <div class="advantage__row-box">
        <div class="advantage__row-box-circle">
          <img src="img/advantage1.svg" alt="">
        </div>
        <p class="advantage__row-box-desc">Разработка технического
          задания</p>
      </div>
      <div class="advantage__row-box">
        <div class="advantage__row-box-circle">
          <img src="img/advantage2.svg" alt="">
        </div>
        <p class="advantage__row-box-desc">Проектирование</p>
      </div>
      <div class="advantage__row-box">
        <div class="advantage__row-box-circle">
          <img src="img/advantage3.svg" alt="">
        </div>
        <p class="advantage__row-box-desc">Дизайн интерфейса
          CRM-системы</p>
      </div>
      <div class="advantage__row-box">
        <div class="advantage__row-box-circle">
          <img src="img/advantage4.svg" alt="">
        </div>
        <p class="advantage__row-box-desc">Согласование</p>
      </div>
      <div class="advantage__row-box">
        <div class="advantage__row-box-circle">
          <img src="img/advantage5.svg" alt="">
        </div>
        <p class="advantage__row-box-desc">Настройка форм отчетов</p>
      </div>
      <div class="advantage__row-box">
        <div class="advantage__row-box-circle">
          <img src="img/advantage6.svg" alt="">
        </div>
        <p class="advantage__row-box-desc">Тестирование</p>
      </div>
      <div class="advantage__row-box">
        <div class="advantage__row-box-circle">
          <img src="img/advantage7.svg" alt="">
        </div>
        <p class="advantage__row-box-desc">Сдача проекта</p>
      </div>
      <div class="advantage__row-box">
        <div class="advantage__row-box-circle">
          <img src="img/advantage8.svg" alt="">
        </div>
        <p class="advantage__row-box-desc">Внедрение</p>
      </div>
    </div>

    <div class="swiper mySwiper8">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="advantage__row-box">
            <div class="advantage__row-box-circle">
              <img src="img/advantage1.svg" alt="">
            </div>
            <p class="advantage__row-box-desc">Разработка технического
              задания</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage__row-box">
            <div class="advantage__row-box-circle">
              <img src="img/advantage2.svg" alt="">
            </div>
            <p class="advantage__row-box-desc">Проектирование</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage__row-box">
            <div class="advantage__row-box-circle">
              <img src="img/advantage3.svg" alt="">
            </div>
            <p class="advantage__row-box-desc">Дизайн интерфейса
              CRM-системы</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage__row-box">
            <div class="advantage__row-box-circle">
              <img src="img/advantage4.svg" alt="">
            </div>
            <p class="advantage__row-box-desc">Согласование</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage__row-box">
            <div class="advantage__row-box-circle">
              <img src="img/advantage5.svg" alt="">
            </div>
            <p class="advantage__row-box-desc">Настройка форм отчетов</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage__row-box">
            <div class="advantage__row-box-circle">
              <img src="img/advantage6.svg" alt="">
            </div>
            <p class="advantage__row-box-desc">Тестирование</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage__row-box">
            <div class="advantage__row-box-circle">
              <img src="img/advantage7.svg" alt="">
            </div>
            <p class="advantage__row-box-desc">Сдача проекта</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage__row-box">
            <div class="advantage__row-box-circle">
              <img src="img/advantage8.svg" alt="">
            </div>
            <p class="advantage__row-box-desc">Внедрение</p>
          </div>
        </div>
      </div>
      <div class="slider__pagination"></div>
    </div>
  </div>
</div>
