<div class="automation">
  <div class="container">
    <div class="automation__menu">
      <ul class="list-reset">
        <li><a href="">Главная</a></li>
        <li> /</li>
        <li><a href="">Услуги и Решения</a></li>
      </ul>
    </div>
    <div class="automation__title">
     <h4>Автоматизация</h4>
    </div>
    <div class="parent">
      <div class="div1">
        <div class="services__item">

          <img src="img/services1.png" alt="">
          <p>Автоматизация
            отдела продаж</p>
        </div>
      </div>
      <div class="div2">
        <div class="services__item">

          <img src="img/services2.png" alt="">
          <p>Автоматизация
            контакт центра</p>
        </div>
      </div>
      <div class="div3">
        <div class="services__item">

          <img src="img/services3.png" alt="">
          <p>Автоматизация
            HR-отдела</p>
        </div>
      </div>
      <div class="div4">
        <div class="services__item">

          <img src="img/services4.png" alt="">
          <p class="services__item_desc">Автоматизация
            внутренних бизнес
            процессов</p>
        </div>
      </div>
      <div class="div5">
        <div class="services__item">

          <img src="img/services9.png" alt="">
          <div class="services__item-full">
            <h3>Автоматизация
              бизнес-процессов </h3>
            <p class="full_text">
              Решения в области управленческого консалтинга,
              охватывающих уровни функционирования и управления
              современным предприятием:
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
