<div class="carer">
  <div class="carer__hero-wrapper">
    <div class="container">
      <div class="carer__hero-wrapper-row">
        <h3 class="carer__hero-wrapper-row-title">
          Карьера
        </h3>
        <p class="carer__hero-wrapper-row-desc">
          Для автоматизации CRM, отраслевых и внутренних
          процессов с помощью no-code технологий.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="carer__info">
          <h5 class="carer__info-title">Web-разработчик</h5>
          <p class="carer__info-desc">
            Ищем разработчика-программиста в долгосрок, обладающего навыками Front‑end'а и Back‑end'а на удалёнку:
            создание не шаблонных лендингов, магазинов, блогов, корпоративных сайтов с подключением и настройкой личных
            кабинетов, платёжных систем, форм приёма заявок, админок и т. п. Подробнее в обязанностях.
          </p>
          <button class="btn-reset carer__info-btn">Отправить заявку</button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="carer__info">
          <button class="accordion">Обязанности</button>
          <div class="panel">
            <ul class="list-reset">
              <li>
                <p>Написание ТЗ на копирайтинг;</p>
              </li>
              <li>
                <p>Подбор источников;</p>
              </li>
              <li>
                <p>Сбор смыслов с Заказчика и структуризация;</p>
              </li>
              <li>
                <p>Сбор информации с источников и структуризация;</p>
              </li>
              <li>
                <p>SEO-копирайтинг;</p>
              </li>
              <li>
                <p>Копирайтинг;</p>
              </li>
              <li>
                <p>Рерайтинг;</p>
              </li>
              <li>
                <p>Ведение отчётности.</p>
              </li>

            </ul>
          </div>
          <button class="accordion">Требования</button>
          <div class="panel">
            <ul class="list-reset">
              <li>
                <p>Написание ТЗ на копирайтинг;</p>
              </li>
              <li>
                <p>Подбор источников;</p>
              </li>
              <li>
                <p>Сбор смыслов с Заказчика и структуризация;</p>
              </li>
              <li>
                <p>Сбор информации с источников и структуризация;</p>
              </li>
              <li>
                <p>SEO-копирайтинг;</p>
              </li>
              <li>
                <p>Копирайтинг;</p>
              </li>
              <li>
                <p>Рерайтинг;</p>
              </li>
              <li>
                <p>Ведение отчётности.</p>
              </li>

            </ul>
          </div>
          <button class="accordion">Условия работы</button>
          <div class="panel">
            <ul class="list-reset">
              <li>
                <p>Написание ТЗ на копирайтинг;</p>
              </li>
              <li>
                <p>Подбор источников;</p>
              </li>
              <li>
                <p>Сбор смыслов с Заказчика и структуризация;</p>
              </li>
              <li>
                <p>Сбор информации с источников и структуризация;</p>
              </li>
              <li>
                <p>SEO-копирайтинг;</p>
              </li>
              <li>
                <p>Копирайтинг;</p>
              </li>
              <li>
                <p>Рерайтинг;</p>
              </li>
              <li>
                <p>Ведение отчётности.</p>
              </li>

            </ul>
          </div>
          <button class="accordion">Дополнительно</button>
          <div class="panel">
            <ul class="list-reset">
              <li>
                <p>Написание ТЗ на копирайтинг;</p>
              </li>
              <li>
                <p>Подбор источников;</p>
              </li>
              <li>
                <p>Сбор смыслов с Заказчика и структуризация;</p>
              </li>
              <li>
                <p>Сбор информации с источников и структуризация;</p>
              </li>
              <li>
                <p>SEO-копирайтинг;</p>
              </li>
              <li>
                <p>Копирайтинг;</p>
              </li>
              <li>
                <p>Рерайтинг;</p>
              </li>
              <li>
                <p>Ведение отчётности.</p>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="carer__info">
          <h5 class="carer__info-title">Менеджер по продажам</h5>
          <p class="carer__info-desc">
            Ищем ответственного исполнителя в команду по ведению социальных сетей студии (Telegram, VK, прочие). Можно
            без опыта, мы вас научим. Ищем человека, способного создать команду и эффективно управлять ею.
          </p>
          <button class="btn-reset carer__info-btn">Отправить заявку</button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="carer__info">
          <button class="accordion">Обязанности</button>
          <div class="panel">
            <ul class="list-reset">
              <li>
                <p>Написание ТЗ на копирайтинг;</p>
              </li>
              <li>
                <p>Подбор источников;</p>
              </li>
              <li>
                <p>Сбор смыслов с Заказчика и структуризация;</p>
              </li>
              <li>
                <p>Сбор информации с источников и структуризация;</p>
              </li>
              <li>
                <p>SEO-копирайтинг;</p>
              </li>
              <li>
                <p>Копирайтинг;</p>
              </li>
              <li>
                <p>Рерайтинг;</p>
              </li>
              <li>
                <p>Ведение отчётности.</p>
              </li>

            </ul>
          </div>
          <button class="accordion">Требования</button>
          <div class="panel">
            <ul class="list-reset">
              <li>
                <p>Написание ТЗ на копирайтинг;</p>
              </li>
              <li>
                <p>Подбор источников;</p>
              </li>
              <li>
                <p>Сбор смыслов с Заказчика и структуризация;</p>
              </li>
              <li>
                <p>Сбор информации с источников и структуризация;</p>
              </li>
              <li>
                <p>SEO-копирайтинг;</p>
              </li>
              <li>
                <p>Копирайтинг;</p>
              </li>
              <li>
                <p>Рерайтинг;</p>
              </li>
              <li>
                <p>Ведение отчётности.</p>
              </li>

            </ul>
          </div>
          <button class="accordion">Условия работы</button>
          <div class="panel">
            <ul class="list-reset">
              <li>
                <p>Написание ТЗ на копирайтинг;</p>
              </li>
              <li>
                <p>Подбор источников;</p>
              </li>
              <li>
                <p>Сбор смыслов с Заказчика и структуризация;</p>
              </li>
              <li>
                <p>Сбор информации с источников и структуризация;</p>
              </li>
              <li>
                <p>SEO-копирайтинг;</p>
              </li>
              <li>
                <p>Копирайтинг;</p>
              </li>
              <li>
                <p>Рерайтинг;</p>
              </li>
              <li>
                <p>Ведение отчётности.</p>
              </li>

            </ul>
          </div>
          <button class="accordion">Дополнительно</button>
          <div class="panel">
            <ul class="list-reset">
              <li>
                <p>Написание ТЗ на копирайтинг;</p>
              </li>
              <li>
                <p>Подбор источников;</p>
              </li>
              <li>
                <p>Сбор смыслов с Заказчика и структуризация;</p>
              </li>
              <li>
                <p>Сбор информации с источников и структуризация;</p>
              </li>
              <li>
                <p>SEO-копирайтинг;</p>
              </li>
              <li>
                <p>Копирайтинг;</p>
              </li>
              <li>
                <p>Рерайтинг;</p>
              </li>
              <li>
                <p>Ведение отчётности.</p>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carer__feedback">
    <div class="container">
      <h6 class="carer__feedback-title">Оставить заявку</h6>
      <form action="">
        <div class="row">
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Имя">
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Фамилия">
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="E-mail">
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Телефон">
          </div>
          <div class="col-lg-8">
            <select id="inputState" class="form-control">
              <option selected>Должность</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-lg-8">
            <input type="text" class="form-control" placeholder="Ссылка на резюме">
          </div>
          <div class="col-lg-4">
            <div class="carer__feedback-file">
              <span class="carer__feedback-file-title"> Файл не выбран</span>
              <span class="file__input">
                <input type="file" id="file"/>
                <label for="file">Обзор</label>
              </span>
            </div>
          </div>
        </div>
        <button class="btn-reset carer__feedback-btn">Отправить</button>
      </form>
    </div>
  </div>
</div>
