<div class="clients">
  <div class="container">
    <div class="clients__title">
      <h4>Наши клиенты</h4>
    </div>
    <div class="clients__img">
      <a href="projects-in.html">
        <img src="img/client1.png" alt="">
      </a>
      <a href="projects-in.html">
        <img src="img/client2.png" alt="">
      </a>
      <a href="projects-in.html">
        <img src="img/client3.png" alt="">
      </a>
      <a href="projects-in.html">
        <img src="img/client4.png" alt="">
      </a>
      <a href="projects-in.html">
        <img src="img/client5.png" alt="">
      </a>
    </div>

    <div class="swiper mySwiper10">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/client1.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/client2.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/client3.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/client4.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/client5.png" alt="">
        </div>
      </div>
      <div class="slider__pagination"></div>
    </div>
    <div class="partner__btn">
      <a href="projects.html" class="hero__btn">Все клиенты</a>
    </div>
  </div>
</div>
