<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xxl-3 col-lg-3 col-mb-12 col-sm-12">
        <div class="footer__logo">
          <img class="footer__logo-img" src="img/logo.svg" alt="">
          <p class="footer__logo-desc">Ваше видение, Наше решение.</p>
        </div>
      </div>
      <div class="col-xxl-3 col-lg-3 col-mb-6 col-sm-3">
        <div class="footer__menu">
          <ul class="list-reset footer__menu-list">
            <li class="footer__menu-list-li">
              <h4 class="footer__menu-list-li-title">Компания</h4>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href="">Услуги и Решения</a>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href="projects.html">Проекты</a>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href="about.html"> О компании</a>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href="carer.html">Карьера</a>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href="contact.html">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-3 col-lg-3 col-mb-6 col-sm-3">
        <div class="footer__menu">
          <ul class="list-reset footer__menu-list">
            <li class="footer__menu-list-li">
              <h4 class="footer__menu-list-li-title">Услуги</h4>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href="">Облачные решения</a>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href="">Программное обеспечение</a>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href="">Автоматизация бизнес-процессов</a>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href="">Информационная безопасность</a>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link" href=""> Информационная инфраструктуры</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-3 col-lg-3 col-mb-12 col-sm-12">
        <div class="footer__menu">
          <ul class="list-reset footer__menu-list">
            <li class="footer__menu-list-li">
              <h4 class="footer__menu-list-li-title">Будьте на связи! </h4>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link info_link" href="tel:+998 78 113 33 44">
                <img src="img/phone-callFooter.svg" alt="">
                +998 78 113 33 44
              </a>
            </li>
            <li class="footer__menu-list-li">
              <a class="footer__menu-list-li-link info_link" href="mailto:info@apko-d.uz">
                <img src="img/email-footer.svg" alt="">
                info@apko-d.uz
              </a>
            </li>
            <li class="footer__menu-list-li info_link">
              <a class="footer__menu-list-li-link" href="">
                <img src="img/instagram.svg" alt="instagram">
              </a>
              <a class="footer__menu-list-li-link" href="">
                <img src="img/telegram.svg" alt="telegram">
              </a>
              <a class="footer__menu-list-li-link" href="">
                <img src="img/facebook.svg" alt="facebook">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
