<header class="header">
  <div class="container header__menu">
    <a class="header__logo" href="../index.html"><img src="img/logo.svg" alt=""></a>
    <ul class="header__navbar list-reset">
      <li class="header__nav">
        <a class="header__nav_link" href="../automation.html">Автоматизация</a>
      </li>
      <li class="header__nav">
        <a class="header__nav_link" href="#">Инфраструктура</a>
      </li>
      <li class="header__nav">
        <a class="header__nav_link" href="#">Проекты</a>
      </li>
      <li class="header__nav">
        <a class="header__nav_link" href="#">Отрасли</a>
      </li>
      <li class="header__nav">
        <a class="header__nav_link" href="../about.html">О компании</a>
      </li>
      <li class="header__nav">
        <a class="header__nav_link" href="#">Карьера</a>
      </li>
      <li class="header__nav">
        <a class="header__nav_link" href="../contact.html"> Контакты</a>
      </li>
    </ul>
    <a class="header__phone" href="tel:+998 78 113 33 44"><img src="img/phone-call.svg" alt="">+998 78 113 33 44</a>
  </div>
</header>
