<div class="hero">
  <!-- Slider main container -->
  <div class="swiper mySwiper2">
    <div class="swiper-wrapper slider-hero">
      <div class="swiper-slide" style="background-image: url('img/slider-img1.png'); background-size: cover; background-position: center; background-repeat: no-repeat">
        <div class="container hero__text">
          <h1>APKO DIGITALITY</h1>
          <p>Для автоматизации CRM, отраслевых и внутренних
            процессов с помощью no-code технологий.</p>
          <button type="submit" class="hero__btn btn-reset">Подробнее</button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('img/slider-img1.png'); background-size: cover; background-position: center; background-repeat: no-repeat">
        <div class="container hero__text">
          <h1>APKO DIGITALITY</h1>
          <p>Для автоматизации CRM, отраслевых и внутренних
            процессов с помощью no-code технологий.</p>
          <button type="submit" class="hero__btn btn-reset">Подробнее</button>
        </div>
      </div>
    </div>

    <!-- navigation buttons -->
    <div class="swiper-button-next">
      <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.5" d="M0 6H32.1082L26.9189 0.75L27.5753 0L34 6.5L27.5753 13L26.9189 12.25L32.1082 7H0V6Z"
              fill="white"/>
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.5" d="M34 6H1.89184L7.08105 0.75L6.42474 0L0 6.5L6.42474 13L7.08105 12.25L1.89184 7H34V6Z"
              fill="white"/>
      </svg>
    </div>

    <div class="swiper__info">
      <div class="swiper__info-boxes">
        <p class="swiper__info-number">01</p>
        <span class="swiper__info-line"></span>
        <p class="swiper__info-text">Apko Digitality</p>
      </div>
      <div class="swiper__info-boxes">
        <p class="swiper__info-number">02</p>
        <span class="swiper__info-line"></span>
        <p class="swiper__info-text">Модули
          разшерение</p>
      </div>
      <div class="swiper__info-boxes">
        <p class="swiper__info-number">03</p>
        <span class="swiper__info-line"></span>
        <p class="swiper__info-text">Неограниченные
          возможности</p>
      </div>
    </div>
  </div>
</div>
