<div class="industries">
  <div class="industries__hero">
    <div class="swiper mySwiper3">
      <div class="swiper-wrapper slider-hero">
        <div class="swiper-slide swiper-slide-industries"
             style="background-image: url('img/industries-img.png'); background-size: cover">
          <div class="container industries-hero__text">
            <h1>CPG</h1>
            <p>Благодаря глубокой отраслевой экспертизе Terrasoft и партнеров созданы инновационные решения в управлении
              бизнес-процессами для 24 отраслей</p>
            <button type="submit" class="hero__btn btn-reset">Узнать больше</button>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-industries"
             style="background-image: url('img/industries-img.png'); background-size: cover">
          <div class="container industries-hero__text">
            <h1>CPG</h1>
            <p>Благодаря глубокой отраслевой экспертизе Terrasoft и партнеров созданы инновационные решения в управлении
              бизнес-процессами для 24 отраслей</p>
            <button type="submit" class="hero__btn btn-reset">Узнать больше</button>
          </div>
        </div>
      </div>

      <!-- navigation buttons -->
      <div class="swiper-button-next">
        <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.5" d="M0 6H32.1082L26.9189 0.75L27.5753 0L34 6.5L27.5753 13L26.9189 12.25L32.1082 7H0V6Z"
                fill="white"/>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.5" d="M34 6H1.89184L7.08105 0.75L6.42474 0L0 6.5L6.42474 13L7.08105 12.25L1.89184 7H34V6Z"
                fill="white"/>
        </svg>
      </div>

    </div>
  </div>


  <div class="industries__info">
    <div class="swiper mySwiper4">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="industries__info_product__box">
            <div class="div1">
              <div class="product__box1 box">
                <img src="img/finance-hero1.png" alt="">
                <p>Финансовые <br>
                  сектор</p>
              </div>
            </div>
            <div class="div2">
              <div class="product__box1 box">
                <img src="img/finance-hero4.png" alt="">
                <p>Ритейл</p>
              </div>
            </div>
            <div class="div3">
              <div class="product__box1 box">
                <img src="img/finance-hero5.png" alt="">
                <p>Производство</p>
              </div>
            </div>
            <div class="div4">
              <div class="product__box1 box">
                <img src="img/finance-hero3.png" alt="">
                <p>Агросектор</p>
              </div>
            </div>
            <div class="div5">
              <div class="product__box1 box">
                <img src="img/finance-hero2.png" alt="">
                <p>CPG</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__info_product__box">
            <div class="div1">
              <div class="product__box1 box">
                <img src="img/finance-hero1.png" alt="">
                <p>Финансовые <br>
                  сектор</p>
              </div>
            </div>
            <div class="div2">
              <div class="product__box1 box">
                <img src="img/finance-hero4.png" alt="">
                <p>Ритейл</p>
              </div>
            </div>
            <div class="div3">
              <div class="product__box1 box">
                <img src="img/finance-hero5.png" alt="">
                <p>Производство</p>
              </div>
            </div>
            <div class="div4">
              <div class="product__box1 box">
                <img src="img/finance-hero3.png" alt="">
                <p>Агросектор</p>
              </div>
            </div>
            <div class="div5">
              <div class="product__box1 box">
                <img src="img/finance-hero2.png" alt="">
                <p>CPG</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__info_product__box">
            <div class="div1">
              <div class="product__box1 box">
                <img src="img/finance-hero1.png" alt="">
                <p>Финансовые <br>
                  сектор</p>
              </div>
            </div>
            <div class="div2">
              <div class="product__box1 box">
                <img src="img/finance-hero4.png" alt="">
                <p>Ритейл</p>
              </div>
            </div>
            <div class="div3">
              <div class="product__box1 box">
                <img src="img/finance-hero5.png" alt="">
                <p>Производство</p>
              </div>
            </div>
            <div class="div4">
              <div class="product__box1 box">
                <img src="img/finance-hero3.png" alt="">
                <p>Агросектор</p>
              </div>
            </div>
            <div class="div5">
              <div class="product__box1 box">
                <img src="img/finance-hero2.png" alt="">
                <p>CPG</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- navigation buttons -->
      <div class="swiper-button-next">
        <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.5" d="M0 6H32.1082L26.9189 0.75L27.5753 0L34 6.5L27.5753 13L26.9189 12.25L32.1082 7H0V6Z"
                fill="white"/>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.5" d="M34 6H1.89184L7.08105 0.75L6.42474 0L0 6.5L6.42474 13L7.08105 12.25L1.89184 7H34V6Z"
                fill="white"/>
        </svg>
      </div>

    </div>
  </div>

  <div class="industries__text">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="img/otrasli1.png" alt="">
        </div>
        <div class="col-lg-6">
          <h4 class="industries__text-title">Агросектор</h4>
          <ul class="list-reset industries__text-list">
            <li>
              <p>
                Управление жизненным циклом клиентов, сегментация и анализ доходности
              </p>
            </li>
            <li>
              <p>
                Управление кредитным конвейером
              </p>
            </li>
            <li>
              <p>
                Автоматизация работы фронт-офиса, оформления и сопровождения банковских продуктов
              </p>
            </li>
            <li>
              <p>
                Управление продажами корпоративным и розничным клиентам, кросс-продажи
              </p>
            </li>
            <li>
              <p>
                Эталонные процессы привлечения и обслуживания клиентов
              </p>
            </li>
          </ul>
          <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="background-image: url('img/otrasli1Bg.png'); background-size: cover; background-position: center; background-repeat: no-repeat">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="industries__text-title">Финансовый сектор</h4>
            <ul class="list-reset industries__text-list">
              <li>
                <p>
                  Управление жизненным циклом клиентов, сегментация и анализ доходности
                </p>
              </li>
              <li>
                <p>
                  Управление кредитным конвейером
                </p>
              </li>
              <li>
                <p>
                  Автоматизация работы фронт-офиса, оформления и сопровождения банковских продуктов
                </p>
              </li>
              <li>
                <p>
                  Управление продажами корпоративным и розничным клиентам, кросс-продажи
                </p>
              </li>
              <li>
                <p>
                  Эталонные процессы привлечения и обслуживания клиентов
                </p>
              </li>
            </ul>
            <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
          </div>
          <div class="col-lg-6">
            <img src="img/otrasli2.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="img/otrasli3.png" alt="">
        </div>
        <div class="col-lg-6">
          <h4 class="industries__text-title">Производства</h4>
          <ul class="list-reset industries__text-list">
            <li>
              <p>
                Управление жизненным циклом клиентов, сегментация и анализ доходности
              </p>
            </li>
            <li>
              <p>
                Управление кредитным конвейером
              </p>
            </li>
            <li>
              <p>
                Автоматизация работы фронт-офиса, оформления и сопровождения банковских продуктов
              </p>
            </li>
            <li>
              <p>
                Управление продажами корпоративным и розничным клиентам, кросс-продажи
              </p>
            </li>
            <li>
              <p>
                Эталонные процессы привлечения и обслуживания клиентов
              </p>
            </li>
          </ul>
          <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="background-image: url('img/otrasli2Bg.png'); background-size: cover; background-position: center; background-repeat: no-repeat">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="industries__text-title">Ритейл</h4>
            <ul class="list-reset industries__text-list">
              <li>
                <p>
                  Управление жизненным циклом клиентов, сегментация и анализ доходности
                </p>
              </li>
              <li>
                <p>
                  Управление кредитным конвейером
                </p>
              </li>
              <li>
                <p>
                  Автоматизация работы фронт-офиса, оформления и сопровождения банковских продуктов
                </p>
              </li>
              <li>
                <p>
                  Управление продажами корпоративным и розничным клиентам, кросс-продажи
                </p>
              </li>
              <li>
                <p>
                  Эталонные процессы привлечения и обслуживания клиентов
                </p>
              </li>
            </ul>
            <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
          </div>
          <div class="col-lg-6">
            <img src="img/otrasli4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
