<div class="industries">
  <div class="industries__hero">
    <div class="swiper mySwiper3">
      <div class="swiper-wrapper slider-hero">
        <div class="swiper-slide swiper-slide-industries"
             style="background-image: url('img/industries-img.png'); background-size: cover">
          <div class="container industries-hero__text">
            <h1>CPG</h1>
            <p>Благодаря глубокой отраслевой экспертизе Terrasoft и партнеров созданы инновационные решения в управлении
              бизнес-процессами для 24 отраслей</p>
            <button type="submit" class="hero__btn btn-reset">Узнать больше</button>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-industries"
             style="background-image: url('img/industries-img.png'); background-size: cover">
          <div class="container industries-hero__text">
            <h1>CPG</h1>
            <p>Благодаря глубокой отраслевой экспертизе Terrasoft и партнеров созданы инновационные решения в управлении
              бизнес-процессами для 24 отраслей</p>
            <button type="submit" class="hero__btn btn-reset">Узнать больше</button>
          </div>
        </div>
      </div>

      <!-- navigation buttons -->
      <div class="swiper-button-next">
        <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.5" d="M0 6H32.1082L26.9189 0.75L27.5753 0L34 6.5L27.5753 13L26.9189 12.25L32.1082 7H0V6Z"
                fill="white"/>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.5" d="M34 6H1.89184L7.08105 0.75L6.42474 0L0 6.5L6.42474 13L7.08105 12.25L1.89184 7H34V6Z"
                fill="white"/>
        </svg>
      </div>

    </div>
  </div>

  <div class="industries__info">
    <div class="swiper mySwiper4">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider1.png" alt="">
            <p>Финансовые сектор</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider2.png" alt="">
            <p>CPG</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider3.png" alt="">
            <p>Производство</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider4.png" alt="">
            <p>Агросектор</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider5.png" alt="">
            <p>Ритейл</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="industries__text">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
          <img src="img/otrasli1.png" alt="">
        </div>
        <div class="col-lg-6">
          <h4 class="industries__text-title">Банки и финансы </h4>
          <ul class="list-reset industries__text-list">
            <li>
              <p>
                Управление жизненным циклом клиентов, сегментация и анализ доходности
              </p>
            </li>
            <li>
              <p>
                Управление продажами корпоративным и розничным клиентам, кросс-продажи
              </p>
            </li>
            <li>
              <p>
                Управление кредитным конвейером
              </p>
            </li>
            <li>
              <p>
                Автоматизация работы
                фронт-офиса, оформления и сопровождения банковских продуктов
              </p>
            </li>
            <li>
              <p>
                Эталонные процессы привлечения и обслуживания клиентов
              </p>
            </li>
          </ul>
          <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
        </div>
      </div>
    </div>

    <div class="container-fluid"
         style="background-image: url('img/otrasli1Bg.png'); background-size: cover; background-position: center; background-repeat: no-repeat">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="industries__text-title">Бизнес-услуги </h4>
            <ul class="list-reset industries__text-list">
              <li>
                <p>
                  Консолидация информации о клиентах
                </p>
              </li>
              <li>
                <p>
                  Управление проектами и организация совместной работы по задачам
                </p>
              </li>
              <li>
                <p>
                  Управление всеми каналами продаж
                </p>
              </li>
              <li>
                <p>
                  Прозрачная система ведения документооборота и управление рабочим временем
                </p>
              </li>
              <li>
                <p>
                  Управление персоналом и контроль эффективности работы сотрудников
                </p>
              </li>
            </ul>
            <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
          </div>
          <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
            <img src="img/otrasli2.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
          <img src="img/otrasli3.png" alt="">
        </div>
        <div class="col-lg-6">
          <h4 class="industries__text-title"> Розничная торговля </h4>
          <ul class="list-reset industries__text-list">
            <li>
              <p>
                Сегментация клиентской базы по различным критериям
              </p>
            </li>
            <li>
              <p>
                Отслеживание покупательской и непокупательской активности клиентов
              </p>
            </li>
            <li>
              <p>
                Реализация программ лояльности: от настройки правил процессинга до аналитики
              </p>
            </li>
            <li>
              <p>
                Управление персонализированными маркетинговыми кампаниями
              </p>
            </li>
            <li>
              <p>
                Автоматизация контакт-центра и обработка обращений сервисной службой
              </p>
            </li>
          </ul>
          <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
        </div>
      </div>
    </div>

    <div class="container-fluid"
         style="background-image: url('img/reklamabg.png'); background-size: cover; background-position: center; background-repeat: no-repeat">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="industries__text-title">Реклама и медиа </h4>
            <ul class="list-reset industries__text-list">
              <li>
                <p>
                  Управление сетью рекламных площадей, отношениями с владельцами и арендаторами
                </p>
              </li>
              <li>
                <p>
                  Планирование мультиканальных кампаний
                </p>
              </li>
              <li>
                <p>
                  Организация работы с подрядчиками и исполнителями, закупок и поставок материалов
                </p>
              </li>
              <li>
                <p>
                  Инструменты для организации и проведения мероприятий
                </p>
              </li>
              <li>
                <p>
                  Управление документооборотом, задачами и коммуникациями
                </p>
              </li>
            </ul>
            <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
          </div>
          <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
            <img src="img/reklama.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
          <img src="img/telekomun.png" alt="">
        </div>
        <div class="col-lg-6">
          <h4 class="industries__text-title">Телекоммуникации</h4>
          <ul class="list-reset industries__text-list">
            <li>
              <p>
                Управление абонентской базой
              </p>
            </li>
            <li>
              <p>
                Управление розничными и b2b-продажами
              </p>
            </li>
            <li>
              <p>
                Единый каталог телекоммуникационных услуг и тарифов
              </p>
            </li>
            <li>
              <p>
                Управление объектами подключения и точками продаж
              </p>
            </li>
            <li>
              <p>
                Управление сервисным обслуживанием абонентов
              </p>
            </li>
            <li>
              <p>
                Контроль платежей и управление дебиторской задолженностью
              </p>
            </li>
          </ul>
          <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
        </div>
      </div>
    </div>

    <div class="container-fluid"
         style="background-image: url('img/proiz.png'); background-size: cover; background-position: center; background-repeat: no-repeat">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="industries__text-title">Производство и дистрибуция </h4>
            <ul class="list-reset industries__text-list">
              <li>
                <p>
                  Управление всеми каналами продаж, включая полевые продажи
                </p>
              </li>
              <li>
                <p>
                  Управление продуктовым каталогом, скидками и наценками, поставками
                </p>
              </li>
              <li>
                <p>
                  Управлением взаимоотношениями с поставщиками и торговыми точками
                </p>
              </li>
              <li>
                <p>
                  Управление маркетинговыми активностями по продвижению продуктов компании
                </p>
              </li>
              <li>
                <p>
                  Управление гарантийным и пост-гарантийным обслуживанием
                </p>
              </li>
              <li>
                <p>
                  Автоматизация операционных процессов и анализ деятельности предприятия
                </p>
              </li>
            </ul>
            <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
          </div>
          <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
            <img src="img/proizimg.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
          <img src="img/forma.png" alt="">
        </div>
        <div class="col-lg-6">
          <h4 class="industries__text-title">Фармацевтика </h4>
          <ul class="list-reset industries__text-list">
            <li>
              <p>
                Сегментация и категоризация клиентской базы
              </p>
            </li>
            <li>
              <p>
                Управление госпитальными продажами и тендерами
              </p>
            </li>
            <li>
              <p>
                Ведение соглашений с аптечными сетями
              </p>
            </li>
            <li>
              <p>
                Планирование и контроль работы медицинских и торговых представителей
              </p>
            </li>
            <li>
              <p>
                Планирование визитов по цикловым заданиям
              </p>
            </li>
            <li>
              <p>
                Мобильное приложение для работы «в полях»
              </p>
            </li>
          </ul>
          <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
        </div>
      </div>
    </div>

    <div class="container-fluid"
         style="background-image: url('img/nedvijbg.png'); background-size: cover; background-position: center; background-repeat: no-repeat">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="industries__text-title">Недвижимость</h4>
            <ul class="list-reset industries__text-list">
              <li>
                <p>
                  Управление базой объектов недвижимости с учетом специфики застройщиков и агентств недвижимости
                </p>
              </li>
              <li>
                <p>
                  Динамический подбор объектов по параметрам
                </p>
              </li>
              <li>
                <p>
                  Галерея объектов недвижимости и работа с листингами
                </p>
              </li>
              <li>
                <p>
                  Обработка заявок на куплю-продажу или аренду недвижимости
                </p>
              </li>
              <li>
                <p>
                  Управление сделками, договорами, счетами и платежами
                </p>
              </li>
            </ul>
            <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
          </div>
          <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
            <img src="img/proizimg.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
          <img src="img/forma.png" alt="">
        </div>
        <div class="col-lg-6">
          <h4 class="industries__text-title"> Госсектор </h4>
          <ul class="list-reset industries__text-list">
            <li>
              <p>
                Организация электронного документооборота организации
              </p>
            </li>
            <li>
              <p>
                Управление проектами, контроль хода выполнения задач и поручений
              </p>
            </li>
            <li>
              <p>
                Формирование отчетности и операционная аналитика
              </p>
            </li>
            <li>
              <p>
                Организация мультиканального контакт-центра, автоматизация процессов обработки обращений
              </p>
            </li>
            <li>
              <p>
                Управление персоналом, анализ эффективности работы сотрудников
              </p>
            </li>
          </ul>
          <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
        </div>
      </div>
    </div>

    <div class="container-fluid"
         style="background-image: url('img/logistikbg.png'); background-size: cover; background-position: center; background-repeat: no-repeat">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="industries__text-title"> Транспорт и логистика </h4>
            <ul class="list-reset industries__text-list">
              <li>
                <p>
                  Обработка заявок на перевозку грузов
                </p>
              </li>
              <li>
                <p>
                  Учет транспортных средств и отслеживание эффективности их использования
                </p>
              </li>
              <li>
                <p>
                  Организация работы с жалобами и рекламациями
                </p>
              </li>
              <li>
                <p>
                  Мониторинг движения транспорта в режиме реального времени
                </p>
              </li>
              <li>
                <p>
                  Планирование оптимальных маршрутов с учетом необходимых параметров
                </p>
              </li>
            </ul>
            <button type="submit" class="btn-reset hero__btn">Запросить консультацию</button>
          </div>
          <div class="col-lg-6 d-flex justify-content-center align-items-lg-center">
            <img src="img/logistik1.png" alt="">
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="industries__info">
    <div class="swiper mySwiper4">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider1.png" alt="">
            <p>Финансовые сектор</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider2.png" alt="">
            <p>CPG</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider3.png" alt="">
            <p>Производство</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider4.png" alt="">
            <p>Агросектор</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="industries__box">
            <img src="img/otrasliSlider5.png" alt="">
            <p>Ритейл</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
