<div class="industries">
  <!-- Slider main container -->
  <div class="swiper mySwiper3">
    <div class="swiper-wrapper slider-hero">
      <div class="swiper-slide" style="background-image: url('img/industries-img.png'); background-size: cover">
        <div class="container industries-hero__text">
          <h1>CPG</h1>
          <p>Благодаря глубокой отраслевой экспертизе Terrasoft и партнеров созданы инновационные решения в управлении
            бизнес-процессами для 24 отраслей</p>
          <button type="submit" class="hero__btn btn-reset">Узнать больше</button>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('img/industries-img.png'); background-size: cover">
        <div class="container industries-hero__text">
          <h1>CPG</h1>
          <p>Благодаря глубокой отраслевой экспертизе Terrasoft и партнеров созданы инновационные решения в управлении
            бизнес-процессами для 24 отраслей</p>
          <button type="submit" class="hero__btn btn-reset">Узнать больше</button>
        </div>
      </div>
    </div>

    <!-- navigation buttons -->
    <div class="swiper-button-next">
      <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.5" d="M0 6H32.1082L26.9189 0.75L27.5753 0L34 6.5L27.5753 13L26.9189 12.25L32.1082 7H0V6Z"
              fill="white"/>
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg width="34" height="13" viewBox="0 0 34 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.5" d="M34 6H1.89184L7.08105 0.75L6.42474 0L0 6.5L6.42474 13L7.08105 12.25L1.89184 7H34V6Z"
              fill="white"/>
      </svg>
    </div>

  </div>
</div>
