<div class="info__two">
  <div class="container row info__two__row">
    <div class="col-lg-6">
      <h2 class="info__two__row-title">Информационная
        инфраструктура</h2>
      <p class="info__two__row-desc">
        Решения в области управленческого консалтинга,
        охватывающих уровни функционирования и управления
        современным предприятием:
      </p>
      <button type="submit" class="btn-reset hero__btn">Подробнее</button>
    </div>
    <div class="col-lg-6">
      <img src="img/server.png" alt="">
    </div>
  </div>
</div>
