<div class="info">
  <div class="container row info__row">
    <div class="col-lg-6">
      <img class="info__row-img" src="img/logo.png" alt="">
      <h2 class="info__row-title">Автоматизация
        бизнес-процессов </h2>
      <p class="info__row-desc">
        Решения в области управленческого консалтинга,
        охватывающих уровни функционирования и управления
        современным предприятием:
      </p>
      <a href="automation.html" type="submit" class="btn-reset hero__btn">Подробнее</a>
    </div>
    <div class="col-lg-6">
      <img src="img/infoImg.png" alt="">
      <a href="automation.html" type="submit" class="btn-reset hero__btn mobile__btn">Подробнее</a>
    </div>
  </div>
</div>
