<div class="infrastructure">
  <div class="container">
    <div class="infrastructure__title">
      <h4>Инфраструктура</h4>
    </div>
    <div class="parent">
      <a href="services-page.html" class="div1">
        <div class="services__item">

          <img src="img/infrastructure1.png" alt="">
          <div class="services__item-full">
            <h3>Информационная
              инфраструктура</h3>
            <p class="full_text">
              Решения в области управленческого консалтинга,
              охватывающих уровни функционирования и управления
              современным предприятием:
            </p>
          </div>
        </div>
      </a>
      <a href="services-page.html" class="div2">
        <div class="services__item">

          <img src="img/infrastructure2.png" alt="">
          <p>Корпоративные
            коммуникации </p>
        </div>
      </a>
      <a href="services-page.html" class="div3">
        <div class="services__item">

          <img src="img/infrastructure3.png" alt="">
          <p>Профессиональные
            сервисы </p>
        </div>
      </a>
      <a href="services-page.html" class="div4">
        <div class="services__item">
          <img src="img/infrastructure4.png" alt="">
          <p class="services__item_desc">Информационная
            инфраструктура </p>
        </div>
      </a>
      <a href="services-page.html" class="div5">
        <div class="services__item">

          <img src="img/infrastructure5.png" alt="">
          <p>Инженерная
            инфраструктура </p>
        </div>
      </a>
    </div>
  </div>
</div>
