<div class="map">
  <div class="map__row">
    <div class="map__info">
      <h4>Контакты</h4>
      <p>
        ООО «APKO Digitality» 100000, Республика Узбекистан, г.Ташкент, Мирзо-Улугбекский район, ул. Салар Буйи, 35А
      </p>
      <a href="tel:+998781133344">
        <img src="img/phone-call-contact.svg" alt="">
        +998 78 113 33 44
      </a>
      <a href="mailto:info@apko-d.uz">
        <img src="img/email.svg" alt="">
        info@apko-d.uz
      </a>
    </div>
  </div>
  <iframe
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A76dceedcba69c38a765742a5342588629ad7e577646be9dc4de8753adaaed060&amp;source=constructor"
    width="100%" height="600" frameborder="0"></iframe>
</div>
