<div class="partner__in">
  <div class="container">
    <div class="partner__in-img">
      <img src="img/partnerIn.png" alt="">
    </div>
    <div class="partner__in-text">
      <h5>Описание</h5>
      <p>APKO Digitality – команда единомышленников с клиенто-ориентированным подходом, созданная опытными специалистами
        в сфере построения IT инфраструктуры, информационной безопасности и глобальной цифровизации деятельности
        предприятий любой отрасли, размеров и уровня развития.
      </p>
      <p>
        Компания организована в 2019г. с целью воплотить новые идеи и использовать накопленный опыт в сфере построения
        информационных систем различного уровня сложности.</p>
      </p>
    </div>
  </div>
</div>
