<div class="product">
  <div class="container">
    <div class="product__title">
      <h3 class="product__title-title">Готовые решения
        для автоматизации 20 отраслей</h3>
    </div>
    <div class="product__box">
      <div class="div1">
        <div class="product__box1 box">
          <img src="img/finance-hero1.png" alt="">
          <p>Финансовые <br>
            сектор</p>
        </div>
      </div>
      <div class="div2">
        <div class="product__box1 box">
          <img src="img/finance-hero4.png" alt="">
          <p>Производство</p>
        </div>
      </div>
      <div class="div3">
        <div class="product__box1 box">
          <img src="img/finance-hero5.png" alt="">
          <p>Агросектор</p>
        </div>
      </div>
      <div class="div4">
        <div class="product__box1 box">
          <img src="img/finance-hero3.png" alt="">
          <p>Ритейл</p>
        </div>
      </div>
      <div class="div5">
        <div class="product__box1 box">
          <img src="img/finance-hero2.png" alt="">
          <p>Финансовые <br>
            сектор</p>
        </div>
      </div>
    </div>
    <div class="product__button">
      <a href="industries.html" type="submit" class="btn-reset hero__btn">Все отрасли</a>
    </div>
  </div>
</div>
