<div class="projects">
  <div class="container">
    <div class="projects__title">
      <h4>Проекты</h4>
    </div>
    <div class="projects__boxes">
      <a class="div1" href="projects-in.html">
        <div class="projects__boxes-box">
          <img src="img/project1.png" alt="">
        </div>
        <p class="projects__boxes-desc">
          Решения в области управленческого консалтинга, охватывающих уровни...
        </p>
      </a>
      <a class="div2" href="projects-in.html">
        <div class="projects__boxes-box">
          <img src="img/project2.png" alt="">
        </div>
        <p class="projects__boxes-desc">Название проекта </p>
      </a>
      <a class="div3" href="projects-in.html">
        <div class="projects__boxes-box">
          <img src="img/project3.png" alt="">
        </div>
        <p class="projects__boxes-desc">Название проекта </p>
      </a>
      <a class="div4" href="projects-in.html">
        <div class="projects__boxes-box">
          <img src="img/project2.png" alt="">
        </div>
        <p class="projects__boxes-desc">Название проекта </p>
      </a>
      <a class="div5" href="projects-in.html">
        <div class="projects__boxes-box">
          <img src="img/project1.png" alt="">
        </div>
        <p class="projects__boxes-desc">Название проекта </p>
      </a>
      <a class="div6" href="projects-in.html">
        <div class="projects__boxes-box">
          <img src="img/project2.png" alt="">
        </div>
        <p class="projects__boxes-desc">
          Решения в области управленческого консалтинга, охватывающих уровни...
        </p>
      </a>
    </div>
  </div>
  <div class="container-fluid projects__fluid">
    <div class="container">
      <div class="projects__fluid-title">
        <h4>
          Отзывы клиентов <br>
          о внедрении автоматизированных систем в Узбекистане
        </h4>
      </div>

      <div class="swiper mySwiper5">
        <div class="swiper-wrapper projects-hero">
          <div class="swiper-slide">
            <div class="projects__slide-row">
              <div class="projects__slide-left">
                <div class="projects__slide-left-img">
                  <img src="img/testimonila.png" alt="">
                </div>
                <div class="projects__slide-left-text">
                  <h3>Игорь Пак</h3>
                  <p>Руководитель отдела продаж
                    <span>SEMKO CONSALTING</span></p>
                </div>
                <div class="projects__slide-left-icon">
                  <img src="img/otzvieIcon.svg" alt="">
                </div>
              </div>
              <div class="projects__slide-right">
                <div class="projects__slide-right-text">
                  <p>
                    «Выражаю огромную благодарность вашей компании и, в частности сотрудникам направления ЗЗ, за
                    интересные и познавательные вебинары на тему BIM проектирования, а также Техцентру ZANDZ за
                    квалифицированную помощь в подборе и просчете оборудования для их клиентов.»
                  </p>
                  <p>
                    ООО «SEMKO CONSALTING»
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="projects__slide-row">
              <div class="projects__slide-left">
                <div class="projects__slide-left-img">
                  <img src="img/testimonila.png" alt="">
                </div>
                <div class="projects__slide-left-text">
                  <h3>Игорь Пак</h3>
                  <p>Руководитель отдела продаж
                    <span>SEMKO CONSALTING</span></p>
                </div>
                <div class="projects__slide-left-icon">
                  <img src="img/otzvieIcon.svg" alt="">
                </div>
              </div>
              <div class="projects__slide-right">
                <div class="projects__slide-right-text">
                  <p>
                    «Выражаю огромную благодарность вашей компании и, в частности сотрудникам направления ЗЗ, за
                    интересные и познавательные вебинары на тему BIM проектирования, а также Техцентру ZANDZ за
                    квалифицированную помощь в подборе и просчете оборудования для их клиентов.»
                  </p>
                  <p>
                    ООО «SEMKO CONSALTING»
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider__pagination"></div>
      </div>

    </div>
  </div>
</div>
