<div class="projects__in">
  <div class="container">
    <div class="projects__in-title">
      <h4>
        Проекты
      </h4>
    </div>
    <div class="projects__in-info">
      <div class="projects__in-info-box"
           style="background-image: url('img/projectInfoBg.png'); background-position: center; background-repeat: no-repeat; background-size: cover">
        <div class="projects__in-info-box-text">
          <img src="img/projectIn.svg" alt="">
          <p>
            APKO Digitality – команда единомышленников с клиенто-ориентированным подходом, созданная опытными
            специалистами в сфере построения IT инфраструктуры
          </p>
          <button class="btn-reset projects__in-info-box-text-btn">Подробнее</button>
        </div>
        <div class="projects__in-info-box-text d-flex justify-content-end">
          <ul class="list-reset">
            <li>
              <h3 class="circle">CRM решения: </h3>
            </li>
            <li>
              <p class="circle">Омниканальная платформа для управления маркетинговыми кампаниями</p>
            </li>
            <li>
              <p class="circle">Управление полным циклом продаж</p>
            </li>
            <li>
              <p class="circle">Комплексное решение для управления внутренним и внешним сервисом</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="projects__in-info-text">
        <p class="projects__in-info-text-title">
          Решения в области управленческого консалтинга, охватывающих уровни функционирования и управления современным
          предприятием:
        </p>
        <ul class="list-reset">
          <li>
            <p>Интеллектуальная low-code платформа для управления бизнес-процессами</p>
          </li>
          <li>
            <p>Портал для взаимодействия с клиентами и партнерами на единой low-code платформе</p>
          </li>
          <li>
            <p>Бизнес-приложения</p>
          </li>
          <li>
            <p>SCM</p>
          </li>
          <li>
            <p>BI</p>
          </li>
          <li>
            <p>WMS</p>
          </li>
          <li>
            <p>CRM решения: </p>
          </li>
          <li>
            <p>Омниканальная платформа для управления маркетинговыми кампаниями</p>
          </li>
          <li>
            <p>Управление полным циклом продаж</p>
          </li>
          <li>
            <p>Комплексное решение для управления внутренним и внешним сервисом</p>
          </li>
        </ul>
        <p class="projects__in-info-text-desc">
          APKO Digitality – команда единомышленников с клиенто-ориентированным подходом, созданная опытными
          специалистами в сфере построения IT инфраструктуры, информационной безопасности и глобальной цифровизации
          деятельности предприятий любой отрасли, размеров и уровня развития.
        </p>
        <p class="projects__in-info-text-desc">
          Компания организована в 2019г. с целью воплотить новые идеи и использовать накопленный опыт в сфере построения
          информационных систем различного уровня сложности.
        </p>
      </div>
    </div>
  </div>
</div>











