<div class="services__two">
  <div class="container row">
    <div class="col-xxl-3 col-xl-3 col-lg-6">
      <div class="services__two__item">
        <img src="img/services5.png" alt="">
        <p>Корпоративные
          коммуникации </p>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-6">
      <div class="services__two__item">
        <img src="img/services6.png" alt="">
        <p>Профессиональные
          сервисы </p>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-6">
      <div class="services__two__item">

        <img src="img/services7.png" alt="">
        <p>Информационная
          инфраструктура </p>
      </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-6">
      <div class="services__two__item">
        <img src="img/services8.png" alt="">
        <p>Инженерная
          инфраструктура </p>
      </div>
    </div>

    <div class="swiper mySwiper9">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="services__two__item">
            <img src="img/services5.png" alt="">
            <p>Корпоративные
              коммуникации </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="services__two__item">
            <img src="img/services6.png" alt="">
            <p>Профессиональные
              сервисы </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="services__two__item">

            <img src="img/services7.png" alt="">
            <p>Информационная
              инфраструктура </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="services__two__item">
            <img src="img/services8.png" alt="">
            <p>Инженерная
              инфраструктура </p>
          </div>
        </div>
      </div>
      <div class="slider__pagination"></div>
    </div>
  </div>
</div>
