<div class="services">
  <div class="container row services__info">
    <div class="col-xxl-3 col-xl-3  col-lg-6">
      <a class="services__item" href="services-page-one.html">
        <img src="img/services1.png" alt="">
        <p>Автоматизация
          отдела продаж</p>
      </a>
    </div>
    <div class="col-xxl-3 col-xl-3  col-lg-6 ">
      <a class="services__item" href="services-page-two.html">
        <img src="img/services2.png" alt="">
        <p>Автоматизация
          контакт центра</p>
      </a>
    </div>
    <div class="col-xxl-3 col-xl-3  col-lg-6 ">
      <a class="services__item" href="services-page-three.html">
        <img src="img/services3.png" alt="">
        <p>Автоматизация
          HR-отдела</p>
      </a>
    </div>
    <div class="col-xxl-3 col-xl-3  col-lg-6 ">
      <a class="services__item" href="services-page-four.html">
        <img src="img/services4.png" alt="">
        <p class="services__two__item_fulltext">Автоматизация
          внутренних бизнес
          процессов</p>
      </a>
    </div>
  </div>

  <div class="swiper mySwiper6">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a class="services__item">
          <img src="img/services1.png" alt="">
          <p>Автоматизация
            отдела продаж</p>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="services__item">
          <img src="img/services2.png" alt="">
          <p>Автоматизация
            контакт центра</p>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="services__item">
          <img src="img/services3.png" alt="">
          <p>Автоматизация
            HR-отдела</p>
        </a>
      </div>
      <div class="swiper-slide">
        <a class="services__item">
          <img src="img/services4.png" alt="">
          <p class="services__two__item_fulltext">Автоматизация
            внутренних бизнес
            процессов</p>
        </a>
      </div>
    </div>
    <div class="slider__pagination"></div>
  </div>
</div>
