<div class="services__page">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="services__page-left">
          <h4 class="services__page-left-title">Автоматизация</h4>
          <ul class="list-reset">
            <li>
              <a href="#">Автоматизация
                отдела продаж</a>
            </li>
            <li>
              <a href="#"> Автоматизация
                контакт центра</a>
            </li>
            <li>
              <a class="active-link" href="#"> Автоматизация
                HR-отдела</a>
            </li>
            <li>
              <a href="#"> Автоматизация внутренних бизнес
                процессов</a>
            </li>
            <li>
              <a href="#"> Автоматизация
                бизнес-процессов</a>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-lg-9">
        <div class="services__page-right">
          <div class="services__page-right-box"
               style="background-image: url('img/services-page2.png'); background-size: cover; background-repeat: no-repeat; background-position: center">
            <h4 class="services__page-right-box-title">Автоматизация
              бизнес-процессов </h4>
          </div>
          <p class="services__page-right-desc">
            Решения в области управленческого консалтинга, охватывающих уровни функционирования и управления современным
            предприятием:
          </p>
          <div class="services__page-right-list">
            <ul class="list-reset">
              <li>
                <p>Интеллектуальная low-code платформа для управления бизнес-процессами</p>
              </li>
              <li>
                <p>Портал для взаимодействия с клиентами и партнерами на единой low-code платформе</p>
              </li>
              <li>
                <p>Бизнес-приложения</p>
              </li>
              <li>
                <p>SCM</p>
              </li>
              <li>
                <p>BI</p>
              </li>
              <li>
                <p>WMS</p>
              </li>
            </ul>
            <ul class="list-reset">
              <li>
                <p>CRM решения: </p>
              </li>
              <li>
                <p>Омниканальная платформа для управления маркетинговыми кампаниями</p>
              </li>
              <li>
                <p>Управление полным циклом продаж</p>
              </li>
              <li>
                <p>Комплексное решение для управления внутренним и внешним сервисом</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
